* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
	font-family: sans-serif;
}
body {
	overflow-x: hidden;
}
html::-webkit-scrollbar {
	display: none;
}
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0 0 20px skyblue;
	background-color: lightblue;
	height: 6rem;
}
nav img {
	margin-top: -1.5rem;
	margin-left: 2rem;
}
.links ul li {
	list-style: none;
}
.links ul li a {
	border-right: 1px solid black;
	border-width: 3px;
	cursor: pointer;
	text-decoration: none;
	color: black;
	font-size: 1.1rem;
	font-weight: 600;
	padding-inline: 20px;
}
nav h1 {
	margin-top: -4rem;
	margin-right: 10rem;
	text-align: right;
}
.links ul {
	display: flex;
	justify-content: end;
	margin-top: 1rem;
	margin-right: -0.5rem;
	gap: 20px;
}
/* main */
.main {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	margin-top: 1rem;
	margin-bottom: 2rem;
	height: 60vh;
	gap: 10px;
}
.aside {
	display: flex;
	flex-direction: column;
	grid-column: 1/3;
	justify-content: space-around;
	background-color: rgb(247, 188, 182);
	padding: 20px;
	height: 100%;
}
.aside p {
	width: 12rem;
	font-size: 1.2rem;
}
.aside a {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid white;
	background-color: rgb(249, 121, 74);
	height: 20%;
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
}
.cursos {
	display: flex;
	flex-direction: column;
	grid-column: 3/12;
	align-items: center;
	justify-content: center;
	background-color: lightgray;
	gap: 20px;
}
.cursos h3 {
	font-weight: 100;
}
.cur-imgs {
	display: flex;
	flex-direction: row;
	gap: 30px;
}
/* Profesores */
.profesores {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	background-color: mintcream;
	height: 40vh;
	gap: 10px;
}
.prof-pp {
	grid-column: 1/3;
	border: 1px solid black;
	border-radius: 8px;
	width: 270px;
	height: 278px;
}
.prof-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column: 3/12;
	gap: 10px;
}
.prof-info div {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
	padding: 10px;
	border-radius: 8px;
}

.prof-info div ul li{
	list-style: disc;
	margin-left: 2rem;
}
/* Videos */
.videos {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(192, 223, 250);
	padding-top: 1rem;
	gap: 10px;
}
.vid-cur {
	display: flex;
	gap: 20px;
}
.cur-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: -0.2rem;
	background-color: white;
	width: 100%;
	height: 12rem;
}
.cur-info h3 {
	margin-top: 3rem;
	text-align: center;
	font-size: 2rem;
}
.cur-info p {
	background-color: lightgray;
	width: 100%;
	height: 30%;
	text-align: center;
	font-size: 1.5rem;
}
/* Footer */
footer {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
	background-color: gray;
	height: 47vh;
}
footer li {
	list-style: none;
}
footer a {
	text-decoration: none;
	color: white;
}
.interes ul,
.portales ul,
.contactos-index ul {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	border-left: 1px solid white;
	gap: 10px;
	padding-inline: 10px;
}
.interes h3,
.portales h3,
.contactos-index h3 {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	color: white;
	font-size: 1.5rem;
}
/* Flutter Android Studio Ionic Section*/
.flutter-main,
.android-main,
.ionic-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
	background-color: rgba(157, 214, 237, 0.238);
	margin-inline: auto;
}
.flutter-main > p,
.android-main > p,
.ionic-main > p {
	width: 70%;
}
.flutter-main > img,
.android-main > img,
.ionic-main > img {
	margin: 2rem 0 2rem 0;
	border-radius: 8px;
}
.flutter-info,
.android-info,
.ionic-info {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding-inline: 20px;
	gap: 20px;
}
.cur-details,
.cur-content,
.cur-benefits {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem 0 2rem 0;
	border: 1px solid black;
	border-radius: 8px;
	box-shadow: 0 0 10px;
	background-color: #fff;
	padding: 40px;
}
.cur-details ul li,
.cur-content ol li,
.cur-benefits ul li {
	list-style: decimal;
}
.cur-instr {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
	padding: 20px;
}
.instructor {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	height: 10rem;
	gap: 20px;
}
.instructor img {
	border-radius: 8px;
	width: 310px;
	height: 170px;
}
.instructor p {
	grid-column: 2/5;
	font-size: 1.2rem;
}
.inscripciones {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	border-radius: 8px 8px 0 0;
	box-shadow: inset 0 0 10px;
	padding: 20px;
	width: 90%;
	height: 8rem;
}
/* Diplomados Section */
.diplomado-intro,
.diplomado-detalles,
.beneficios {
	margin-top: 2rem;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	padding: 2rem;
	width: 80%;
	max-width: 800px;
	margin-inline: auto;
}
.cert-img {
	margin-top: 1rem;
	margin-bottom: -1rem;
	margin-left: 8rem;
	border-radius: 8px;
}
.diplomado-intro h2,
.diplomado-detalles h3,
.beneficios h3 {
	margin-bottom: 1rem;
	color: darkblue;
}
.diplomado-intro p,
.diplomado-detalles ul,
.beneficios p {
	line-height: 1.6;
	color: #333;
	font-size: 1rem;
}
.diplomado-detalles ul {
	padding: 0;
	list-style: none;
}
.diplomado-detalles ul li {
	margin-bottom: 0.5rem;
	font-size: 1.1rem;
}
/* Botones de llamada a la acci贸n */
.cta {
	display: flex;
	margin-top: 1rem;
	margin-left: 26rem;
	gap: 20px;
}
.cta button {
	transition: background-color 0.3s;
	border: none;
	border-radius: 5px;
	background-color: rgb(249, 121, 74);
	cursor: pointer;
	padding: 0.8rem 2rem;
	color: white;
	font-size: 1.1rem;
}
.cta button:hover {
	background-color: rgb(229, 101, 54);
}
.diplomados-footer,
.insc-footer,
.programs-footer,
.cc-footer,
.fe-footer,
.con-footer {
	margin-top: 2rem;
	background-color: gray;
	padding: 1rem 2rem;
	height: max-content;
	text-align: center;
	color: white;
}
.contact-info p {
	margin: 0.5rem 0;
}
/* Secci贸n de Inscripci贸n */
.inscripcion-intro {
	background-color: mintcream;
	padding: 2rem;
	text-align: center;
}
.inscripcion-intro h2 {
	margin-bottom: 1rem;
	color: #333;
	font-size: 2rem;
}
.inscripcion-intro p {
	margin: 0 auto;
	max-width: 800px;
	line-height: 1.5;
	color: #555;
	font-size: 1.2rem;
}
/* Inscription section */
.form-inscripcion {
	display: flex;
	justify-content: center;
	background-color: mintcream;
	padding: 2rem;
}
form {
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: white;
	padding: 2rem;
	width: 50%;
	max-width: 600px;
}
.form-group {
	margin-bottom: 1.5rem;
}
label {
	display: block;
	margin-bottom: 0.5rem;
	color: #333;
	font-size: 1.1rem;
}
input[type='text'],
input[type='email'],
input[type='tel'],
select,
textarea {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	padding: 0.8rem;
	width: 100%;
	font-size: 1rem;
}
textarea {
	resize: unset;
}
button[type='submit'] {
	display: block;
	transition: background-color 0.3s ease;
	border: none;
	border-radius: 4px;
	background-color: rgb(249, 121, 74);
	cursor: pointer;
	padding: 1rem;
	width: 100%;
	color: white;
	font-size: 1.2rem;
}
button[type='submit']:hover {
	background-color: rgb(230, 100, 50);
}
/* Programs section */
.programas-intro {
	margin-top: 1rem;
	background-color: mintcream;
	padding: 2rem;
	text-align: center;
}
.programas-intro h2 {
	margin-bottom: 1rem;
	color: #333;
	font-size: 2rem;
}
.programas-intro p {
	margin: 0 auto;
	max-width: 800px;
	line-height: 1.5;
	color: #555;
	font-size: 1.2rem;
}
/* Lista de Programas */
.lista-programas {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	background-color: mintcream;
	padding: 2rem;
	gap: 2rem;
}
.programa-card {
	transition: transform 0.3s ease;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: white;
	overflow: hidden;
}
.programa-card:hover {
	transform: translateY(-5px);
}
.programa-card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.programa-card-content {
	padding: 1.5rem;
}
.programa-card-content h3 {
	margin-bottom: 1rem;
	color: #333;
	font-size: 1.5rem;
}
.programa-card-content p {
	margin-bottom: 1rem;
	line-height: 1.5;
	color: #555;
	font-size: 1rem;
}
.programa-card-content a {
	display: inline-block;
	transition: background-color 0.3s ease;
	margin-top: 1rem;
	border-radius: 4px;
	background-color: rgb(249, 121, 74);
	padding: 0.8rem 1.5rem;
	text-decoration: none;
	color: white;
}
.programa-card-content a:hover {
	background-color: rgb(230, 100, 50);
}
/* Cursos cortos section */
.cursos-intro {
    text-align: center;
    padding: 2rem;
    background-color: mintcream;
	margin-top: 1rem;
}
.cursos-intro h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}
.cursos-intro p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
}

/* Lista de Cursos Cortos */
.lista-cursos-cortos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
    background-color: mintcream;
}
.curso-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}
.curso-card:hover {
    transform: translateY(-5px);
}
.curso-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.curso-card-content {
    padding: 1.5rem;
}
.curso-card-content h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}
.curso-card-content p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.curso-card-content a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    background-color: rgb(249, 121, 74);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.curso-card-content a:hover {
    background-color: rgb(230, 100, 50);
}

/* FE section */
.formacion-intro {
    text-align: center;
    padding: 2rem;
    background-color: mintcream;
	margin-top: 1rem;
}
.formacion-intro h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}
.formacion-intro p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
}

/* Lista de Formaci贸n Empresarial */
.lista-formacion-empresarial {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
    background-color: mintcream;
}
.formacion-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}
.formacion-card:hover {
    transform: translateY(-5px);
}
.formacion-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.formacion-card-content {
    padding: 1.5rem;
}
.formacion-card-content h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}
.formacion-card-content p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.formacion-card-content a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    background-color: rgb(249, 121, 74);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.formacion-card-content a:hover {
    background-color: rgb(230, 100, 50);
}

/* Contact Section */
.contactos {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    margin: 2rem auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contactos h2 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
}

.contactos p {
    font-size: 1rem;
    color: #666;
    text-align: center;
    margin-bottom: 2rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group label {
    font-size: 1rem;
    color: #333;
}

.form-group input, .form-group textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.submit-btn {
    padding: 10px;
    background-color: lightblue;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: skyblue;
}

/* Contact Information */
.info-contacto {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;

}

.info-item {
    background-color: #f9f9f9;
    padding: 1rem;
    border-left: 4px solid lightblue;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	width: 40rem;
}

.info-item h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.info-item p, .info-item a {
    font-size: 1rem;
    color: #666;
    text-decoration: none;
}

.info-item a:hover {
    color: lightblue;
}
